/*
          _                         _
__      _| | ___   __ _  ___  _   _| |_
\ \ /\ / / |/ _ \ / _` |/ _ \| | | | __|
 \ V  V /| | (_) | (_| | (_) | |_| | |_
  \_/\_/ |_|\___/ \__, |\___/ \__,_|\__|
                  |___/
*/

window {
	font-family: "Hack Nerd Fonts";
	font-size: 1.2rem;
	color: #abb2bf;
	background-color: #282c34;
}

button {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	background-color: transparent;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0 10px 2px transparent;
	border-radius: 36px;
	margin: 10px;
	color: #abb2bf;
}

button:focus {
	box-shadow: none;
	outline-style: none;
	background-size: 20%;
}

button:hover {
	background-size: 50%;
	outline-style: none;
	box-shadow: 0 0 10px 3px rgba(0,0,0,4);
	background-color: #61afef;
	color: transparent;
}

#lock {
	background-image: image(url("./icons/lock.png"));
}

#logout {
	background-image: image(url("./icons/logout.png"));
}

#sleep {
	background-image: image(url("./icons/suspend.png"));
}

#reboot {
	background-image: image(url("./icons/reboot.png"));
}

#shutdown {
	background-image: image(url("./icons/shutdown.png"));
}
